:root {
  --primary-color: #5f2e9e;
  --secondary-color: #9e82bc;
  --tertiary-color: #362151;
  --fun-color: #1c75bc;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Anton", sans-serif;
  --tertiary-font-family: "Quicksand", sans-serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--secondary-color);
  font-family: var(--primary-font-family);
}

h1 {
  font-size: 60px;
  color: var(--primary-color);
}

h1,
h2,
h4 {
  z-index: 100;
  font-weight: bolder;
}

h2,
h3,
h4 {
  color: var(--tertiary-color);
}

h4 {
  font-size: 25px;
}

h3 {
  position: relative;
  color: white;
  font-family: var(--secondary-font-family);
  opacity: 25%;
  margin-top: 500px;
}
p,
.projecttittle {
  color: aliceblue;
}
p {
  text-align: justify;
  text-justify: inter-word;
}

ul {
  color: white;
}

#heroText {
  z-index: -50;
  font-size: 350px;
  margin-top: -280px;
  margin-left: -20px;
}

#projectText {
  font-size: 200px;
  text-align: center;
  margin-top: -50px;
}

#projectSubtitle {
  font-size: 65px;
  position: relative;
  text-align: center;
  margin-top: -155px;
  color: white;
}

.primary-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 15px;
  margin: 0 auto;
  display: block;
  text-align: center;
  text-decoration: none;
}

.contactlink,
.homelink {
  background: var(--primary-color);
  color: white;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
  top: 100px !important;
}

.homelink {
  margin-left: 50px;
}
.contactlink {
  margin-left: 58px;
}

a {
  color: white;
}

a:hover {
  color: white;
}
.container-hero,
.container-about {
  padding: 380px 10px 250px;
}

.container-projects {
  padding: 110px 10px;
}

#projects {
  background-color: var(--tertiary-color);
}

.projecttittle {
  padding: 25px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.container-contact {
  justify-content: space-evenly;
}

#codedby {
  background: var(--tertiary-color);
  color: white;
  text-align: center;
  padding: 25px 0;
}

#worktogether {
  text-align: center;
  font-size: 65px;
  padding: 25px;
}

#saytext {
  margin-top: -100px;
  z-index: -50;
  font-size: 250px;
}

#movingtextone {
  margin-top: -150px;
  margin-left: 98px;
  font-size: 50px;
  z-index: 1000;
  color: white;
}

.branding-image {
  max-height: 1500px;
  max-width: 1500px;
  margin-top: -200px;
}

.finalbranding {
  max-height: 350px;
  max-width: 350px;
  margin-top: -68px;
}

.navbar-nav {
  margin-left: auto;
  padding: 5px;
}

#link:hover {
  background: var(--fun-color);
}

/*About Page*/

#aboutphoto {
  max-width: 400px;
  max-height: 400px;
  margin-left: 350px;
}

.col-white {
  color: white;
}

.fa-brands,
.fa-solid {
  font-size: 80px;
}

#checktext {
  margin-top: -90px;
  z-index: -50;
  font-size: 150px;
}

#movingtexttwo {
  margin-top: -130px;
  margin-left: 35px;
  font-size: 50px;
  z-index: 1000;
  color: white;
}

.container-contactme {
  background: #682fa5;
  padding: 110px 10px;
}

.secondpagecontact {
  margin-top: 135px;
}

.RS {
  margin-top: 100px;
}

#GetInTouch {
  font-size: 200px;
  text-align: center;
  margin-top: 10px;
}

/*Responsive Ipads*/

@media (max-width: 1250px) {
  #heroText,
  #saytext {
    top: 5px;
    font-size: 280px;
  }

  #projects,
  footer,
  .container-contact {
    margin-right: -100px;
  }

  #saytext {
    font-size: 200px;
  }
  .branding-image {
    margin-top: -215px;
  }

  .homelink,
  .contactlink {
    display: inline-flex;
  }
}

/*Responsive*/

@media (max-width: 750px) {
  h1,
  h2 {
    font-size: 35px;
  }

  h4 {
    font-size: 19px;
  }

  #heroText {
    top: 50px;
    font-size: 200px;
  }

  .container-hero {
    padding: 200px 25px;
  }

  #projectText {
    top: -50px;
    font-size: 90px;
    text-align: end;
  }

  #projectSubtitle {
    font-size: 50px;
    margin-top: -140px;
    margin-left: 150px;
  }

  #saytext {
    position: relative;
    margin-top: -170px;
    text-align: center;
    z-index: -50;
  }

  #movingtextone {
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-left: 15px;
    font-size: 50px;
    z-index: 1000;
  }

  .contactlink,
  .homelink,
  .finalbranding {
    margin: 0 auto;
    display: block;
  }

  .contactlink,
  .homelink {
    text-align: center;
    margin: 15px;
  }

  .finalbranding {
    padding: 25px;
  }

  .homelink,
  .contactlink {
    display: block;
    margin: 0 auto;
  }
}
